## Stuff added for by/for mariomadproductions

# ROM related files
*.nds
*.sav

# Original ROM data
/bak/
/bak_safe/

# Built code
/build/
newcode.bin
newcode.elf
newcode.sym

# Exclude Nitro SDK headers
/include/nitro/
/include/nitro_wl/
/include/nnsys/
/include/nitro.h
/include/nnsys.h
/include/nitro_sp.h
/include/nitro_win32.h


# VS Code
/.vscode