## Stuff added for by/for mariomadproductions

# ROM related files
*.nds
*.sav

# Original ROM data
/code/backup/

# Built code
/code/build/

# Exclude includes
/code/include/

# VS Code
/code/.vscode

# Operating system files
*.lnk

# Release files
*.xdelta

# Temporary code files
/__tmp
/code/source/ObjectTable.gen.cpp

#Python
/.venv/